
.countCard2{
  
        position: relative;
        min-width: 10%;
        margin: 10px;
        box-sizing: border-box;
        text-align: center;
        border-radius: 5px;
        padding-top: 3%;
        box-shadow: 0 14px 28px rgba(0,0,0,0.25),
        0 10px 10px rgba(0, 0,0 ,0.22);
        background: white;
    
        

}

.countCard{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}
.countCard3{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px;

}

button{
    border-radius: 5px;
    background: rgb(50, 154, 240); 
    border: none;
    padding: 10px;
    cursor: pointer;
   
}