.card{
    width: 300px;
    margin: 10px;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    padding-top: 3%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
    0 10px 10px rgba(0, 0,0 ,0.22);
    background: white;
}

.infoCard h3{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;


}
.detailButtonCard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 10px;

}

.buttonCard{
    position:sticky;
    border-radius: 5px;
    background: rgb(50, 154, 240); 
    border: none;
    padding: 10px;
    cursor: pointer;
   
}

.image{
    overflow: hidden;
    justify-content: center;
    width: 200px;
    height: 200px;
    padding-bottom: 20px;
}

.nameOfItem{
    margin-left: 18px;
    margin-right: 18px;
}
.priceOfItem{
    margin-bottom: 15px;
}
@media(max-width: 750px) {

    .card{
        width: 300px;
    }
    }