*{
    margin: 0;
    padding: 0;
 
    scroll-behavior: smooth;
}
.iconQuantityNone{
    display: none;

}

.iconQuantityFlex{
display: flex;
}

header div h5{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 50%;
    width: 17px;
    outline: none;
    border: none;
    position: absolute;

}
.headerNavBar{
    background-color: rgb(50, 154, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px ;
 
}

.headerNavBar img{
    width: 200px;
    margin-left: 50px;
}

.headerNavBar a{
    margin: 10px 10px;
    text-decoration: none;
    color: rgb(250, 250, 250);    
}

.headerNavBar a:hover{
    color: rgb(143, 206, 143);
}

.headerNavBar label{
    display: none;
    margin-left: 50px;
}

.headerNavBar input{
    display: none;
}

.subMenu li{
    display: inline;
    list-style: none;
    font-family: 'Trebuchet MS', sans-serif;
    font-size:large;
}


@media(max-width: 1100px) {

 #logo{
    display: none;
  }

.headerNavBar label{
    display: block;
    float: inline-start;
}

.headerNavBar a{
    margin: none;
}

.subMenu li{
    display: list-item;
    padding-top: 1%;
    padding-bottom: 1%;
}

.logoNavBar{
    display: none;
}

.headerNavBar{
    justify-content:space-between;
}

.subMenu{

   position: absolute;
   width: 100%;
   height: 20vh;
   background: rgb(50, 154, 240);
   top: 50px;
   left: -150%;
   text-align: center;
   transition: all .5s;
   border-radius: 8px;
   box-shadow: 
   0 10px 10px rgba(0, 0,0 ,0.22);
}

#check:checked+.subMenu{
left: 0%;

 } 
}