*{
    margin: 0;
    padding: 0;
 
    scroll-behavior: smooth;
}

header{
    background-color: rgb(50, 154, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px ;
    
    
}

img{
    width: 200px;
    margin-left: 50px;
}

li{
    display: inline;
    list-style: none;
}

a{
    margin: 10px 10px;
    text-decoration: none;

    
}

label{
    display: none;
    margin-left: 50px;
}

input{
    display: none;
}


@media(max-width: 750px) {

 #logo{
    display: none;
 
  }
  label{
    display: block;
}
li{
    display: list-item;
    padding-top: 5%;
    padding-bottom: 5%;
}
a{
    margin: none;

}



.submenu{

   position: absolute;
   width: 100%;
   max-height: 100vh;
   background: rgb(50, 154, 240);
   top: 50px;
   left: -150%;
   text-align: center;
   transition: all .5s;
   border-radius: 8px;
   box-shadow: 
   0 10px 10px rgba(0, 0,0 ,0.22);
}

#check:checked+.submenu{
left: 0%;
}

  
 
 
 }