*{
    margin: 0;
    padding: 0;
 
    scroll-behavior: smooth;
}

header{
    background-color: rgb(50, 154, 240);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px ;
    
    
}

img{
    width: 200px;
    margin-left: 50px;
}


@media(max-width: 750px) {

 #logo{
    display: none;
 
  }


  
 
 
 }